{% extends 'base.html' %}

{% block content %}
    {% for querie in queries %}

        <div class="content-query">
            <div class="content-query-child">
                <img src="{{ querie.Qimg1.url }}" alt="random_img" class="content-query-img">
                {% comment %} <div>{{ querie.Qimg1 }}</div> {% endcomment %}
                <p class="content-query-text">{{ querie.Q1 }}</p>
            </div>
            <div class="content-query-child">
                
                <img src="{{ querie.Qimg2.url  }}" alt="random_img" class="content-query-img">
                {% comment %} <div>{{ querie.Qimg2 }}</div> {% endcomment %}
                <p class="content-query-text">{{ querie.Q2 }}</p>
            
            </div>
            <div>
                <button type="submit" id="btn-submit" >submit</button>
            </div>
        </div>
    
    {% endfor %}
{% endblock %}

