{% extends 'userBase.html' %} 
{% block content %} 


{% for querie in queries %}


<div class="grid">

    <div class="card card__three">
        <figure class="card__img">
            <img src="{{ querie.Qimg1.url }}" width="340" height="280" />
        </figure>
        <div class="card__desc">
            <h1>{{ querie.Q1 }}</h1>
        </div>
    </div>
    <div class="card card__three">
        <figure class="card__img">
            <img src="{{ querie.Qimg2.url  }}" width="340" height="280" />
        </figure>
        <div class="card__desc">
            <h1>{{ querie.Q2 }}</h1>
        </div>
    </div>
</div>


{% endfor %} 
{% endblock %}