.body {
    font-family: Arial;
    background-color: #dac7b8;
    padding: 200px;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.start {
    width: 50%;
    margin: auto;
    margin-top: 300px;
    margin-left: 350px;
    padding: 30px;
    background-color: #0ab953;
}

.left,
.right {
    width: 50px;
    height: 50px;
    transition: .5s;
    box-shadow: -2px 2px 0 black;
    float: left;
    position: absolute;
}

.left {
    left: 0;
    transform: rotate(45deg);
}

.right {
    right: 0;
    transform: rotate(-135deg);
}

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 100px
}

@media screen and (min-width: 768px) {
    .grid {
        max-width: 1200px;
    }
}

.card {
    position: relative;
    /* flex: 1 ; */
    margin: 10px 0;
    padding: 20px;
    background: white;
}

@media screen and (min-width: 768px) {
    .card {
        flex-basis: calc(33.33% - (62px + 40px));
        margin: 0 31px;
    }
}

.card__thumb {
    overflow: hidden;
}

.card__img {
    margin: -20px -20px;
}

.card__img img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
    box-sizing: border-box;
}

.card__desc {
    margin-top: 1px;
}

.card__three::before,
.card__three::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(50, 205, 50, 0.1);
    content: '';
    pointer-events: none;
}

.card__three::before {
    transform-origin: left top;
}

.card__three::after {
    transform-origin: right bottom;
}

.card__three:hover::before,
.card__three:hover::after,
.card__three:focus::before,
.card__three:focus::after {
    transform: scale3d(1, 1, 1);
}

.create-input{
    margin: 20px;
}