<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Would you Rather</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'static_files/index.css' %}">
</head>
<body>
    {% load static %}
    <header id="main-header">
        <img src="{% static 'static_files/imgs/wyr-70x70.png '%}" alt="wyr" id="main-logo" >
        <ul id="menu">
            <li class="list-menu">Pupular</li>
            <li class="list-menu">History</li>
            <li class="list-menu">Login</li>
            <li class="list-menu">Create Question</li>
        </ul>
    </header>
    
    {% block content %}
    {% endblock %}
   
</body>
{% load static %}
<script src="{% static 'static_files/index.js' %}"></script>
</html>